.main-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.chat__timestamp {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 7px 8px;
    border-radius: 15px;
    font-size: 11px;
    opacity: 0.9;
}

.chat-background {
    background-color: #8fb9d8;
}

.chat__friend {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}

.chat__friend__name {
    display: block;
    margin-bottom: 8px;
}

.chat__friend img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-right: 10px;
}

.chat__friend__info {
    display: flex;
    align-items: flex-end;
}

.chat__friend__bubble {
    background-color: white;
    padding: 10px 13px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 5px;
    font-size: 14px;
}

.chat__friend__time {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.chat__friend__send {
    justify-items: flex-end;
}

.chat__friend__send .chat__friend__bubble {
    background-color: rgb(234, 248, 35);
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    margin-right: 0px;
    margin-left: 5px;
}

.chat__friend__send .chat__friend__info {
    flex-direction: row-reverse;
    margin-left: auto;
}
