.friend-header {
    display: flex;
    justify-content: space-between;
    margin: 20px 6px;
    align-items: center;
}

.friend-header__column span {
    font-size: 20px;
    font-weight: 600;
}

.friend-header__column i {
    margin: 5px;
}

.friends-screen {
    margin: 5px;
}

.img-lg {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    margin-right: 10px;
}

.img-sm {
    width: 45px;
    height: 45px;
    border-radius: 18px;
    margin-right: 10px;
}

.img-sm-border {
    width: 45px;
    height: 45px;
    border-radius: 18px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-right: 10px;
}
.friends-screen__multi-profile .friends-screen__multi-profile-header,
.friends-screen__birthday .friends-screen__birthday-header,
.friends-screen__update .friends-screen__update-header,
.friends-screen__friend .friends-screen__friend-header {
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
}
.friends-screen__multi-profile,
.friends-screen__birthday,
.friends-screen__update,
.friends-screen__recommend,
.friends-screen__friend {
    padding: 10px 0px;
}

.fa-hand-holding-heart {
    color: pink;
    margin-left: 5px;
}

.friends-screen__update__name {
    display: flex;
    flex-direction: column;
}

.icon-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 15px;
}

.icon-row__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-row__icon span {
    padding: 5px 10px;
}

.icon-row__icon img {
    margin: 0px;
}

.icon-row {
    border-bottom: 1px solid var(--gray);
}

.fa-caret-right {
    color: rgb(105, 248, 105);
    padding-left: 5px;
}

.friends-screen__friend .user-component {
    border-bottom: none;
    padding-bottom: 5px;
}
