.nav {
    position: fixed;
    bottom: 0;
    border-top: 1px solid var(--gray);
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    font-size: 20px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__btn .fa-comment {
    width: none;
}

.chat__notice {
    background-color: tomato;
    width: 17px;
    height: 17px;
    position: absolute;
    color: white;
    font-size: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 13px;
    right: 300px;
}

@keyframes transformNotice {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-3px);
    }
    100% {
        transform: none;
    }
}

.nav__btn .chat__notice {
    animation: transformNotice 1.5s ease-in-out infinite;
}
